.aboutus-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
}

.aboutus-user {
  display: block;
  padding: auto;
  max-width: 40%;
  padding: 5%;
  border-radius: 5px;
  background-color: aliceblue;
}

.profile {
  width: 150px;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .aboutus-container {
    flex-direction: column;
    width: 90%;
    margin: auto;
    align-items: center;
  }

  .aboutus-user {
    display: block;
    max-width: 90%;
  }
}
